[submodule "home/config/zsh/plugins/prompt/pure"]
	path = home/config/zsh/plugins/prompt/pure
	url = https://github.com/sindresorhus/pure.git
[submodule "home/config/zsh/plugins/zsh-z"]
	path = home/config/zsh/plugins/zsh-z
	url = https://github.com/agkozak/zsh-z.git
