[Unit]
Description=Check for updates in official repos and AUR

[Service]
Type=oneshot
ExecStart=%h/bin/checkup
Environment=DISPLAY=:0
TimeoutStopSec=10
